# Python virtual environment
venv/

# Byte-compiled Python files
*.pyc
*.pyo
__pycache__/

# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# macOS Finder metadata
Icon?

# Directories related to macOS filesystems
._*

# Logs and temporary files
*.log
*.tmp

# Ignore specific data files and directories
*.pkl
html/*.pkl
data/*.feather
data/us_stocks_sip/
